<html>
    <head>
        {{> partials/head }}
    </head>
    <body>
        {{> partials/header }}
        <main class="p-about page-full">
            {{> partials/titlebar }}
    <section class="s-hero-about">

    </section>
            {{> partials/nav-section-about }}
    <section class="content s-about">
                <div class="image-bar">
                    <div class="image-box">
                        <img src="../images/about/place-holder.png" class="img-fluid">
                        <h3>Administration</h3>
                    </div>
                    <div class="image-box">
                        <img src="../images/about/place-holder.png" class="img-fluid">
                       <h3>Board of Trustees</h3>
                    </div>
                    <div class="image-box">
                        <img src="../images/about/place-holder.png" class="img-fluid">
                        <h3>Emeriti</h3>
                    </div>
                </div>
                <div class="about-container">
                    <h2>History</h2>
                    <p>
                        In 1964 the need was recognized for expansion of the opportunities for higher education in the State of Iowa. Study committees across the State were appointed to gather and disseminate information and to consider the prospects for establishing two-year area colleges. On June 7, 1965, area school legislation was approved. By July of the same year, the study committees´ reports and proposals were published and distributed to school officials in the appropriate designated areas in the State. A proposal for Iowa Western Community College was authorized by seven county boards of education in Cass, Fremont, Harrison, Mills, Page, Pottawattamie, and Shelby counties for submission to the State Board of Public Instruction. After specific locations of campuses were agreed upon, approval was granted by the State Board in February 1966. Clarinda Junior College, which was established in 1923 and had a long history of providing a two-year liberal arts education in Southwest Iowa, was selected to serve as one campus, and a new campus was located in Council Bluffs. The College expanded into other parts of the district with the establishment of centers in Atlantic (Cass County Center), Harlan (Shelby County Center), and Shenandoah (Page/Fremont County Center).
                    </p>
                    <p>
                        On January 23, 1967, two vocational-technical programs were started using facilities in Council Bluffs. A major development was the addition of a liberal arts curriculum at the Council Bluffs Campus in the fall of 1968. 
                    </p>
                </div> 
    </section> 
    <img src="../images/about/campus-photo.png" class="img-fluid campus-pic">
        </main> 
        {{> partials/footer }}
    </body>
</html>