<html>
    <head>
        {{> partials/head }}
    </head>
    <body>
        {{> partials/header }}
        <main class="p-academics page-full">
            {{> partials/titlebar title="Academics"}}
            <section class="s-hero-academics"></section>
            {{> partials/nav-section }}
            {{> partials/section-academics showGeneral=true }}
            <div class="content">
            {{> components/programs-all}}
            </div>
        </main>
        {{> partials/footer }}
    </body>
</html>