<html>
    <head>
        {{> partials/head }}
    </head>
    <body>
        {{> partials/header }}
        <main class="p-academics page-full">
            {{> partials/titlebar }}
    <section class="s-hero-academics">

    </section>
            {{> partials/nav-section }}
    <section class="content s-academics">
                <div class="academics-container">
                    <h2>Career Paths</h2>
                    <div class="btn-list">
                        <a href="/academic-programs/business/" class="btn btn-action business">
                            Business
                            <div class="ribbon"><div class="icon"></div></div>
                        </a>
                        <a href="/academic-programs/industrial-technology-transportation" class="btn btn-action industrial">
                            Industrial Technology and Transportation
                            <div class="ribbon"><div class="icon"></div></div>
                        </a>
                        <a href="/academic-programs/coummincation-fine-arts/" class="btn btn-action communication">
                            Communication and Fine Arts
                            <div class="ribbon"><div class="icon"></div></div>
                        </a>
                        <a href="/academic-programs/health/" class="btn btn-action health">
                            Health
                            <div class="ribbon"><div class="icon"></div></div>
                        </a>
                        <a href="/academic-programs/stem/" class="btn btn-action science">
                            Science, Technology, Engineering and Math
                            <div class="ribbon"><div class="icon"></div></div>
                        </a>
                        <a href="/academic-programs/social-behavioral-sciences" class="btn btn-action social">
                            Social and Behavioral Sciences
                            <div class="ribbon"><div class="icon"></div></div>
                        </a>
                        <a href="/academic-programs/general-studies" class="btn btn-action general">
                            General Studies
                            <div class="ribbon"><div class="icon"></div></div>
                        </a>
                    </div>
                </div> 
    </section>    
    <section class="content filters">
        Dynamic filter section
    </section>    
        </main>
        {{> partials/footer }}
    </body>
</html>