<html>
    <head>
        {{> partials/head }}
    </head>
    <body>
        {{> partials/header }}
        <main class="p-academics page-full">
            {{> partials/titlebar title="Academic Programs"}}
            <section class="s-hero-academics"></section>
            {{> partials/nav-section }}

            <div class="content">
                {{#equals this.pageType "meta" }}
                    {{> components/programs-meta}}
                {{/equals}}

                {{#equals this.pageType "compare"}}
                    {{> components/programs-compare}}
                {{/equals}}

                {{#equals this.pageType "all"}}
                    {{> components/programs-all}}
                {{/equals}}
            </div>
        </main>
        {{> partials/footer }}
    </body>
</html>