<html>
    <head>
        <title>Iowa Western Community College</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        {{> partials/header }}
        <main class="p-home">
            
            <section class="s-hero">
                <h2></h2>
            </section>
            
            <section class="s-finder">
                <h2></h2>
            </section>

        <section class="content">
            <section class="s-newsevents">
                <div class="news">
                    <div class="intro">
                        <h3>IWTV Weekly news</h3>
                        <a href="/more/" class="btn-next">More News</a>
                    </div>
                    <div class="newsfeed">
                        <div class="feed">
                            
                        </div>
                    </div>
                </div>
                <div class="events">
                    <div class="intro">
                        <h3>Upcoming Events</h3>
                        <a href="/more/" class="btn-next">Full Calendar</a>
                    </div>
                    <div class="event-day-list">
                        <div class="event-day">
                            <div class="date">
                                <span class="date-month">MAR</span>
                                <span class="date-day">11</span>
                            </div>
                            <ul class="event-list">
                                <li>
                                    <h4><a href="#">Board of Trustees Meeting</a></h4>
                                    <p>2PM - 4PM</p>
                                </li>
                                <li>
                                    <h4><a href="#">Spring accelerated Session 2 Begins</a></h4>
                                </li>
                            </ul>
                        </div>
                        <div class="event-day">
                            <div class="date">
                                <span class="date-month">MAR</span>
                                <span class="date-day">12</span>
                            </div>
                            <ul class="event-list">
                                <li>
                                    <h4><a href="#">Board of Trustees Meeting</a></h4>
                                    <p>2PM - 4PM</p>
                                </li>
                                <li>
                                    <h4><a href="#">Spring accelerated Session 2 Begins</a></h4>
                                </li>
                            </ul>
                        </div>
                        <div class="event-day">
                            <div class="date">
                                <span class="date-month">MAR</span>
                                <span class="date-day">13</span>
                            </div>
                            <ul class="event-list">
                                <li>
                                    <h4><a href="#">Board of Trustees Meeting</a></h4>
                                    <p>2PM - 4PM</p>
                                </li>
                                <li>
                                    <h4><a href="#">Spring accelerated Session 2 Begins</a></h4>
                                </li>
                            </ul>
                        </div>
                        <div class="event-day">
                            <div class="date">
                                <span class="date-month">MAR</span>
                                <span class="date-day">14</span>
                            </div>
                            <ul class="event-list">
                                <li>
                                    <h4><a href="#">Board of Trustees Meeting</a></h4>
                                    <p>2PM - 4PM</p>
                                </li>
                                <li>
                                    <h4><a href="#">Spring accelerated Session 2 Begins</a></h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="s-admissions">
            <div class="admin-nav-container">
                    <div class="">
                <h2>Admissions</h2>
                <ul class="admin-nav">
                    <li>
                        <button>Apply</button>
                    </li>
                    <li>
                        <button>Visit</button>
                    </li>
                    <li>
                        <button>Register</button>
                    </li>
                    <li>
                        <button>Graduate</button>
                    </li>
                </ul>
                </div>
            </div>
            <div class="admissions-panels">
            <div class="become-a-reiver admissions-card">
                <button class="play">Become a Reiver</button>
            </div>
            <div class="campus-map admissions-card">
                <button>Campus Map and Tour</button>
            </div>
            </div>
            </section>

            <section class="s-outreach">
                <div class="video">

                </div>
                <div class="video">
                    
                </div>    
            </section>

            <section class="s-academics">
                <div class="academics-container">
                    <div class="">
                        <h2>Academics</h2>
                    <div class="btn-list">
                        <button type="button" class="btn btn-list-item business">Business</button>
                        <button type="button" class="btn btn-list-item industrial">Industrial Technology<br>and Transportation</button>
                        <button type="button" class="btn btn-list-item communication">Communication<br>and Fine Arts</button>
                        <button type="button" class="btn btn-list-item health">Health</button>
                        <button type="button" class="btn btn-list-item science">Science, Technology,<br>Engineering and Math</button>
                        <button type="button" class="btn btn-list-item social">Social and<br>Behavioral Sciences</button>
                    </div>
                </div>
            </div> 
            </section>

            <section class="s-featured">
                <div class=" featured-container">
                <div class="featured-athletics featured-panel col-md-4">
                    <img src="../images/reivers-logo.png" width="100%" class="img-fluid">
                    <a href="https://GoReivers.com" target="_blank" class="btn">GoReivers.com</a>
                </div>
                <div class="featured-artscenter featured-panel col-md-4">
                        <img src="../images/artscenter-logo.png" width="100%" class="img-fluid">
                    <a href="https://artscenter.iwcc.edu" target="_blank" class="btn">artscenter.iwcc.edu</a>
                </div>
                <div class="featured-river featured-panel col-md-4">
                        <img src="../images/river-logo.png" width="100%" class="img-fluid">
                    <a href="897theriver.com" target="_blank" class="btn">897theriver.com</a>
                </div>
            </div>
            </section>

            <section class="s-centers">
                <div class="centers-container">
                    <h2>Centers</h2>
                    <div class="center-panels">
                        <div class="center-panel">
                            <a href="" class="btn clarinda">Clarinda<br>Center</a>
                            <img src="../images/center-image.png" width="100%">
                        </div>
                            <div class="center-panel">
                            <a href="" class="btn cass">Cass County<br>Center</a>
                            <img src="../images/center-image.png" width="100%">
                        </div>
                            <div class="center-panel">
                            <a href="" class="btn shelby">Shelby County<br>Center</a>
                            <img src="../images/center-image.png" width="100%">
                        </div>
                            <div class="center-panel">
                            <a href="" class="btn fremont">Page/Fremont County<br>Center</a>
                            <img src="../images/center-image.png" width="100%">
                        </div>
                    </div>
                    
                </div>
            </section>
        </section>
        </main>
        {{> partials/footer }}
    </body>
</html>