<html>
    <head>
        {{> partials/head }}
    </head>
    <body>
        {{> partials/header }}
        <main class="p-side-nav page-full">
            {{> components/carousel }}
            {{> partials/titlebar }}
            <section class="content s-side-nav">
                <div class="side-nav-container row">
                    <div class="left-nav col-sm-12 col-md-2">
                        {{> partials/nav-left }}
                    </div>
                    <div class="col-sm-12 col-md-10 page-content">
                    <h2>Left Nav Link 4 is really long for 2 lines</h2>
                        <p>Bacon ipsum dolor amet pork loin t-bone tail venison sausage short loin shoulder. Rump corned beef tongue strip steak ground round, salami cow doner pork loin andouille shankle beef ribs. Tongue jowl drumstick, bresaola ham biltong boudin ribeye tri-tip ground round prosciutto pork loin spare ribs short loin swine. Turkey pig boudin beef. Picanha kevin venison ball tip prosciutto pork loin, pig shoulder turkey.</p>

                        <p>Spare ribs turkey chuck, porchetta pancetta short loin fatback. Ground round shankle meatball sirloin kevin, pastrami short ribs porchetta pork loin spare ribs prosciutto chicken. Frankfurter capicola drumstick doner alcatra buffalo picanha. Filet mignon cow t-bone turkey shankle doner swine landjaeger salami pork. Landjaeger spare ribs ribeye strip steak drumstick, swine corned beef doner pig kielbasa bresaola cupim chicken. Biltong short ribs meatloaf chuck pork belly, sirloin jerky ground round cow ham hock flank porchetta swine. Shoulder turkey brisket pancetta salami.</p>

                        <p>Pastrami andouille short ribs, sirloin porchetta beef ribs prosciutto pig. Spare ribs biltong pancetta sirloin, t-bone venison beef burgdoggen porchetta alcatra hamburger. Flank cupim short loin, doner capicola frankfurter beef alcatra. Hamburger frankfurter alcatra, meatball kielbasa burgdoggen strip steak short ribs cupim biltong t-bone ribeye beef. Beef biltong ball tip kielbasa, spare ribs bresaola flank. Porchetta swine rump hamburger landjaeger ball tip ham pig bacon short loin bresaola turkey ground round andouille. Cow chicken jerky ribeye landjaeger turkey picanha pancetta short ribs bacon strip steak brisket shank bresaola.</p>
                    </div>
                </div> 
            </section> 
        </main> 
        {{> partials/footer }}
    </body>
</html>