<html>
    <head>
        {{> partials/head }}
    </head>
</html>
<body>
    {{> partials/header }}
    
    <main class="page-full">
        {{> partials/titlebar title="Styleguide"}}
        {{> partials/hero}}
        {{> partials/nav-section }}

        <section class="content">
            {{>partials/swatches}}

            {{>samples/form}}

            <div class="row">
                 <div class="col-md-3">
                     {{> partials/headings}}
                </div>
                <div class="col-md-9">
                    {{> components/carousel}}
                </div>            
            </div>

            {{>samples/alerts}}
            
            <h2>Fonts</h2>
            <div class="row">
                <div class="col-md-3">
                    <h3>Text</h3>
                    <p>TitilliumText22LRegular</p>
                    <p><strong>TitilliumText22LBold</strong></p>
                </div>


                <div class="col-md-6">
                    {{>samples/kitchen-sink}}
                </div>
            </div>
            {{>samples/tables}}
            {{>samples/grid}}
        </section>
    </main>
    {{> partials/footer }}
</body>