<html>
    <head>
        {{> partials/head }}
    </head>
</html>
<body>
    {{> partials/header }}
    
    <main class="page-full">
        {{> partials/titlebar }}
        {{> partials/hero}}
        {{> partials/nav-section }}

        <section class="content">
            <h2>Color Palette</h2>
            <div class="palette">
                <div class="swatch"></div>
                <div class="swatch"></div>
                <div class="swatch"></div>
                <div class="swatch"></div>
                <div class="swatch"></div>
                <div class="swatch"></div>
                <div class="swatch"></div>
                <div class="swatch"></div>
                <div class="swatch"></div>
                <div class="swatch"></div>
            </div>

            <h2>Fonts</h2>
            <div class="row">
                <div class="col-md-3">
                    <h3>Text</h3>
                    <p>TitilliumText22LRegular</p>
                    <p><strong>TitilliumText22LBold</strong></p>

                </div>

                <div class="col-md-3">
                    <h3>Headings</h3>
                    <h1>Heading Level 1</h1>
                    <h2>Heading Level 2</h2>
                    <h3>Heading Level 3</h3>
                    <h4>Heading Level 4</h4>
                    <h5>Heading Level 5</h5>
                    <h6>Heading Level 6</h6>
                </div>

                <div class="col-md-6">
                    <h3>Kitchen Sink</h3>
                    <h1>HTML Ipsum Presents</h1>

<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

<h2>Header Level 2</h2>

<ol>
   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
   <li>Aliquam tincidunt mauris eu risus.</li>
</ol>

<blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>

<h3>Header Level 3</h3>

<ul>
   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
   <li>Aliquam tincidunt mauris eu risus.</li>
</ul>

<pre><code>
#header h1 a {
  display: block;
  width: 300px;
  height: 80px;
}
</code></pre>
                </div>
            </div>

            <h2>Grids</h2>
            <section class="row mb-3">
                <div class="col-md-12">
                    <div class="bg-lightgray text-blue p-3">100%</div>
                </div>
            </section>

            <section class="row mb-3">
                <div class="col-md-6">
                    <div class="bg-lightgray text-blue p-3">50%</div>
                </div>
                <div class="col-md-6">
                    <div class="bg-lightgray text-blue p-3">50%</div>
                </div>
            </section>

            <section class="row mb-3">
                <div class="col-md-3">
                    <div class="bg-lightgray text-blue p-3">25%</div>
                </div>
                <div class="col-md-9">
                    <div class="bg-lightgray text-blue p-3">75%</div>
                </div>
            </section>

            <section class="row flex-row-reverse mb-3">
                <div class="col-md-3">
                    <div class="bg-lightgray text-blue p-3">25%</div>
                </div>
                <div class="col-md-9">
                    <div class="bg-lightgray text-blue p-3">75%</div>
                </div>
            </section>

            <section class="row mb-3">
                <div class="col-md-3">
                    <div class="bg-lightgray text-blue p-3">25%</div>
                </div>
                <div class="col-md-6">
                    <div class="bg-lightgray text-blue p-3">75%</div>
                </div>
                <div class="col-md-3">
                    <div class="bg-lightgray text-blue p-3">25%</div>
                </div>
            </section>

            <section class="row mb-3">
                <div class="col-md-4">
                    <div class="bg-lightgray text-blue p-3">33.333%</div>
                </div>
                <div class="col-md-4">
                    <div class="bg-lightgray text-blue p-3">33.333%</div>
                </div>
                <div class="col-md-4">
                    <div class="bg-lightgray text-blue p-3">33.333%</div>
                </div>
            </section>

            <section class="row mb-3">
                <div class="col-md-3">
                    <div class="bg-lightgray text-blue p-3">25%</div>
                </div>
                <div class="col-md-3">
                    <div class="bg-lightgray text-blue p-3">25%</div>
                </div>
                <div class="col-md-3">
                    <div class="bg-lightgray text-blue p-3">25%</div>
                </div>
                <div class="col-md-3">
                    <div class="bg-lightgray text-blue p-3">25%</div>
                </div>
            </section>

            <section class="row mb-3">
                <div class="col-md-2">
                    <div class="bg-lightgray text-blue p-3">16.6666%</div>
                </div>
                <div class="col-md-2">
                    <div class="bg-lightgray text-blue p-3">16.6666%</div>
                </div>
                <div class="col-md-2">
                    <div class="bg-lightgray text-blue p-3">16.6666%</div>
                </div>
                <div class="col-md-2">
                    <div class="bg-lightgray text-blue p-3">16.6666%</div>
                </div>
                <div class="col-md-2">
                    <div class="bg-lightgray text-blue p-3">16.6666%</div>
                </div>
                <div class="col-md-2">
                    <div class="bg-lightgray text-blue p-3">16.6666%</div>
                </div>
            </section>

            <section class="row mb-3">
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
            </section>
        </section>
    </main>
    {{> partials/footer }}
</body>