<footer class="footer-site">
    <div class="container">

        <div class="footer-lead">
            <div class="footer-logo">Iowa Western Community College</div>
            <div class="footer-tag">The World Is Waiting</div>
        </div>

        <div class="row">

            <div class="footer-contact">
                <address>
                    2700 College Rd. <br/>
                    Council Bluffs, IA 51503
                </address>
                <div class="email"><a href="mail:adminssions@iwcc.edu">admissions@iwcc.edu</a></div>
                <div class="phone">
                    <a href="tel:+17123253200">712-325-3200</a>
                    <a href="tel:+18004325852">1-800-432-5852</a>
                </div>
                <a href="/contact/" class="btn btn-white">Contact us</a>
                <div class="social">
                    <a href="https://facebook.com" class="btn btn-white"><span class="icon icon-facebook">Follow us on Facebook</span></a>
                    <a href="https://twitter.com" class="btn btn-white"><span class="icon icon-twitter">Follow us on Twitter</span></a>
                    <a href="https://youtube.com" class="btn btn-white"><span class="icon icon-youtube">Watch us on YouTube</span></a>
                </div>
            </div>

            <div class="nav-footer">
                <div class="col-md-4">
                    <h2>Resources</h2>
                    <nav class="nav-list flex-column">
                        <a href="#" class="nav-item nav-link" >Directory</a>
                        <a href="#" class="nav-item nav-link" >Employment Opportunities</a>
                        <a href="#" class="nav-item nav-link" >Calendar</a>
                        <a href="#" class="nav-item nav-link" >Map of Directions</a>
                        <a href="#" class="nav-item nav-link" >Reiver Alert</a>
                        <a href="#" class="nav-item nav-link" >College Catalog</a>
                        <a href="#" class="nav-item nav-link" >eCashier</a>
                        <a href="#" class="nav-item nav-link" >Library</a>
                        <a href="#" class="nav-item nav-link" >Notice to Bidders</a>
                        <br class="nav-spacer"/>
                        <a href="#" class="nav-item nav-link" >Security &amp; Safety</a>
                        <a href="#" class="nav-item nav-link" >Report and Incident</a>
                        <a href="#" class="nav-item nav-link" >Reiver Alerts</a>
                    </nav>
                </div>

                <div class="col-md-4">
                    <h2>Centers &amp; Affiliates</h2>
                    <nav class="nav-list flex-column">
                        <a href="/center.html" class="nav-item nav-link" >Clarinda Center</a>
                        <a href="/center.html" class="nav-item nav-link" >Cass County Center</a>
                        <a href="/center.html" class="nav-item nav-link" >Page/Fremont County Center</a>
                        <a href="/center.html" class="nav-item nav-link" >Shelby County Center</a>
                        <a href="#" class="nav-item nav-link" >Reiver Athletics</a>
                        <a href="#" class="nav-item nav-link" >89.7 The River</a>
                        <a href="#" class="nav-item nav-link" >Arts Center</a>
                        <a href="#" class="nav-item nav-link" >IWTV</a>
                        <a href="#" class="nav-item nav-link" >CollegeStore</a>
                        <a href="#" class="nav-item nav-link" >Foundation &amp; Alumni</a>
                    </nav>
                </div>
                <div class="col-md-4">
                    <h2>Policies &amp; Reports</h2>
                    <nav class="nav-list flex-column">
                        <a href="#" class="nav-item nav-link" >Emergency Action Plan</a>
                        <a href="#" class="nav-item nav-link" >Notice of Non-Discrimination</a>
                        <a href="#" class="nav-item nav-link" >Security and Fire Safety</a>
                        <a href="#" class="nav-item nav-link" >Consumer Information</a>
                        <a href="#" class="nav-item nav-link" >Privacy Policy</a>
                        <a href="#" class="nav-item nav-link" >Student Handbook</a>
                        <a href="#" class="nav-item nav-link" >Graduation and Transfer Rates</a>
                    </nav>
                </div>
                <div class="colophon">
                    <span class="site-name">Iowa Western Community College</span>
                    <span class="established">Est. 1966</span>
                    <span class="copyright">All rights reserved &copy;2019</span>
                </div>
            </div>

        </div>
    </div>
</footer>
