<header>
    <div class="full-width nav-utility-container">
    {{> nav-utility}}
    </div>
    <div class="hero">
        {{> nav-primary }}
        <div class="hero-caption">
            <p>alt description</p>
            <h2>The world is waiting</h2> 
            <p>
                <span class="play-button">Play Video <span class="icon-play"></span></span>   
            </p>
        </div>
    </div>
</header>
