    <section class="s-hero">
        <div class="hero-caption">
            <p>alt description</p>
            <h2>The world is waiting</h2> 
            <p>
                <span class="play-button">Play Video <span class="icon-play"></span></span>   
            </p>
        </div>
    </section>
