    <div class="primary-nav-container">
        <nav class="nav-primary col-md-6">
            <a href="#" class="nav-item nav-link">Academics</a>
            <a href="#" class="nav-item nav-link">Admissions</a>
            <a href="#" class="nav-item nav-link">Students</a>
            <a href="#" class="nav-item nav-link">About</a>
        </nav>
        <h1 class="logo"><a href="/">Iowa Western Community College</a></h1>
    </div>
