<section class="nav-section">
    <a class="btn">
        <div class="icon apply"></div>
        <div class="text">Apply Today</div>
    </a>
    <a class="btn">
        <div class="icon why"></div>
        <div class="text">Why Iowa Western</div>
    </a>
    <a class="btn">
        <div class="icon financial"></div>
        <div class="text">Financial Aid</div>
    </a>
    <a class="btn">
        <div class="icon service"></div>
        <div class="text">Service Learning</div>
    </a>
    <a class="btn">
        <div class="icon PTK"></div>
        <div class="text">Phi Theta Kappa</div>
    </a>
    <a class="btn">
        <div class="icon calendar"></div>
        <div class="text">Calendar</div>
    </a>
    <a class="btn">
        <div class="icon search"></div>
        <div class="text">Search for Classes</div>
    </a>
</section>