<ul>
    <a href="#"><li>Left Nav Link 1</li></a>
    <a href="#"><li>Left Nav Link 2</li></a>
    <a href="#"><li>Left Nav Link 3</li></a>
    <a href="#"><li>Left Nav Link 4 is really long for 2 lines</li></a>
    <a href="#"><li>Left Nav Link 5</li></a>
    <a href="#"><li>Left Nav Link 6</li></a>
    <a href="#"><li>Left Nav Link 7</li></a>
    <a href="#"><li>Left Nav Link 8</li></a>
</ul>
<span id="more-less"><i id="arrow" class="arrow-down"></i></span>