<div class="nav-utility-container">
    <nav class="nav-utility">
        <a href="#" class="nav-item nav-link">Friends &amp; Alumni</a>
        <a href="#" class="nav-item nav-link">Continuing Education</a>
        <a href="#" class="nav-item nav-link">Community &amp; Business</a>
        <span class="nav-utility-right">
            <form>
                <fieldset class="input-group">
                    <input name="keyword" class="form-control" /><span class="icon-search"></span>
                </fieldset>
            </form>
            <a href="#" class="nav-item nav-link">ROC Sign In <span class="icon icon-user"></span></a>
        </span>
    </nav>
</div>