<div class="nav-utility-container">
    <nav class="nav-utility">
        <a href="#" class="nav-item nav-link">Friends &amp; Alumni</a>
        <a href="#" class="nav-item nav-link">Continuing Education</a>
        <a href="#" class="nav-item nav-link">Community &amp; Business</a>
        <span class="nav-utility-right">
            <form class="nav-item">
                <div class="input-group">
                    <input name="keyword" class="form-control"  placeholder="Search" aria-label="Search website"/>
                    <span class="input-group-append">
                        <button type="submit" class="btn">
                            <span class="icon icon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
            <a href="#" class="nav-item nav-link">ROC Sign In <span class="icon icon-user"></span></a>
        </span>
    </nav>
</div>