<section class="nav-section">
    <div class="blue-bar">
        <a class="btn">
            <div class="icon apply"></div>
            <div class="text">Apply Now</div>
        </a>
        <a class="btn">
            <div class="icon mission"></div>
            <div class="text">Mission, Vision, Values</div>
        </a>
        <a class="btn">
            <div class="icon reiver"></div>
            <div class="text">What is a Reiver?</div>
        </a>
        <a class="btn">
            <div class="icon creds"></div>
            <div class="text">Accreditation</div>
        </a>
        <a class="btn">
            <div class="icon effect"></div>
            <div class="text">Institutional Effectiveness</div>
        </a>
    </div>
</section>