<section class="s-academics s-container simple">
    <h2>{{#if this.showGeneral}}Career Paths{{else}}Academics{{/if}}</h2>
    <div class="btn-list">
        <a href="/academic-programs/business.html" class="btn btn-action business">
            <div class="icon"></div>
            Business
        </a>
        <a href="/academic-programs/industrial-technology-transportation.html" class="btn btn-action industrial">
            <div class="icon"></div>
            Industrial Technology and Transportation
        </a>
        <a href="/academic-programs/coummincation-fine-arts/" class="btn btn-action communication">
            <div class="icon"></div>
            Communication and Fine Arts
        </a>
        <a href="/academic-programs/health/" class="btn btn-action health">
            <div class="icon"></div>
            Health
        </a>
        <a href="/academic-programs/stem/" class="btn btn-action science">
            <div class="icon"></div>
            Science, Technology, Engineering and Math
        </a>
        <a href="/academic-programs/social-behavioral-sciences" class="btn btn-action social">
            <div class="icon"></div>
            Social and Behavioral Sciences
        </a>
        {{#if this.showGeneral}}
        <a href="/academic-programs/general-studies" class="btn btn-action general">
            <div class="icon"></div>
            General Studies
        </a>
        {{/if}}
    </div>
</section>
