<div class="alert alert-danger">
    Alerts “Emergency” for general text on pages
</div>
<div class="alert alert-info">
    Alerts “Primary” for general text on pages
</div>
<div class="alert alert-success">
    Alerts "Success" for general text on pages
</div>