<section class="s-employees">
    <h2>Employee Directory</h2>
    <form>
        <div class="employee-search">
            <div class="form-group">
                <input type="text" name="employee-search-keyword" id="employee-search-keyword" class="form-control" placeholder="First or Last name" value="" required aria-label="First and/or last name of employee"/>
            </div>
            <span class="or">or</span>
            <div class="form-group">
                <select class="custom-select" name="employee-search-department" id="employee-search-department">
                    <option value="">Select a Department</option>
                </select>
            </div>
            <div class="form-button-group">
                <button type="submit" class="btn btn-submit">Search</button>
                <button type="reset" class="btn btn-gray">Clear</button>
            </div>
        </div>
    </form>
    <h3>Results</h3>
    <div class="employee-list">
        <div class="employee-list-item">
            <article class="employee-list-item-card">
                <h4>John Doe</h4>
                <h5>Position Title</h5>
                <h6>Department</h6>
                <ul class="employee-list-item-card-details">
                    <li>Office: KNY 100</li>
                    <li>Email: johndoe@iwcc.edu</li>
                    <li>Ph: 123-456-7890</li>
                </ul>
            <article>
        </div>
        <div class="employee-list-item">
            <article class="employee-list-item-card">
                <h4>John Doe</h4>
                <h5>Position Title</h5>
                <h6>Department</h6>
                <ul class="employee-list-item-card-details">
                    <li>Office: KNY 100</li>
                    <li>Email: johndoe@iwcc.edu</li>
                    <li>Ph: 123-456-7890</li>
                </ul>
            <article>
        </div>
        <div class="employee-list-item">
            <article class="employee-list-item-card">
                <h4>John Doe</h4>
                <h5>Position Title</h5>
                <h6>Department</h6>
                <ul class="employee-list-item-card-details">
                    <li>Office: KNY 100</li>
                    <li>Email: johndoe@iwcc.edu</li>
                    <li>Ph: 123-456-7890</li>
                </ul>
            <article>
        </div>
        <div class="employee-list-item">
            <article class="employee-list-item-card">
                <h4>John Doe</h4>
                <h5>Position Title</h5>
                <h6>Department</h6>
                <ul class="employee-list-item-card-details">
                    <li>Office: KNY 100</li>
                    <li>Email: johndoe@iwcc.edu</li>
                    <li>Ph: 123-456-7890</li>
                </ul>
            <article>
        </div>
        <div class="employee-list-item">
            <article class="employee-list-item-card">
                <h4>John Doe</h4>
                <h5>Position Title</h5>
                <h6>Department</h6>
                <ul class="employee-list-item-card-details">
                    <li>Office: KNY 100</li>
                    <li>Email: johndoe@iwcc.edu</li>
                    <li>Ph: 123-456-7890</li>
                </ul>
            <article>
        </div>
    </div>
</section>