
            <h2>Grids</h2>
            <section class="row mb-3">
                <div class="col-md-12">
                    <div class="bg-lightgray text-blue p-3">100%</div>
                </div>
            </section>

            <section class="row mb-3">
                <div class="col-md-6">
                    <div class="bg-lightgray text-blue p-3">50%</div>
                </div>
                <div class="col-md-6">
                    <div class="bg-lightgray text-blue p-3">50%</div>
                </div>
            </section>

            <section class="row mb-3">
                <div class="col-md-3">
                    <div class="bg-lightgray text-blue p-3">25%</div>
                </div>
                <div class="col-md-9">
                    <div class="bg-lightgray text-blue p-3">75%</div>
                </div>
            </section>

            <section class="row flex-row-reverse mb-3">
                <div class="col-md-3">
                    <div class="bg-lightgray text-blue p-3">25%</div>
                </div>
                <div class="col-md-9">
                    <div class="bg-lightgray text-blue p-3">75%</div>
                </div>
            </section>

            <section class="row mb-3">
                <div class="col-md-3">
                    <div class="bg-lightgray text-blue p-3">25%</div>
                </div>
                <div class="col-md-6">
                    <div class="bg-lightgray text-blue p-3">75%</div>
                </div>
                <div class="col-md-3">
                    <div class="bg-lightgray text-blue p-3">25%</div>
                </div>
            </section>

            <section class="row mb-3">
                <div class="col-md-4">
                    <div class="bg-lightgray text-blue p-3">33.333%</div>
                </div>
                <div class="col-md-4">
                    <div class="bg-lightgray text-blue p-3">33.333%</div>
                </div>
                <div class="col-md-4">
                    <div class="bg-lightgray text-blue p-3">33.333%</div>
                </div>
            </section>

            <section class="row mb-3">
                <div class="col-md-3">
                    <div class="bg-lightgray text-blue p-3">25%</div>
                </div>
                <div class="col-md-3">
                    <div class="bg-lightgray text-blue p-3">25%</div>
                </div>
                <div class="col-md-3">
                    <div class="bg-lightgray text-blue p-3">25%</div>
                </div>
                <div class="col-md-3">
                    <div class="bg-lightgray text-blue p-3">25%</div>
                </div>
            </section>

            <section class="row mb-3">
                <div class="col-md-2">
                    <div class="bg-lightgray text-blue p-3">16.6666%</div>
                </div>
                <div class="col-md-2">
                    <div class="bg-lightgray text-blue p-3">16.6666%</div>
                </div>
                <div class="col-md-2">
                    <div class="bg-lightgray text-blue p-3">16.6666%</div>
                </div>
                <div class="col-md-2">
                    <div class="bg-lightgray text-blue p-3">16.6666%</div>
                </div>
                <div class="col-md-2">
                    <div class="bg-lightgray text-blue p-3">16.6666%</div>
                </div>
                <div class="col-md-2">
                    <div class="bg-lightgray text-blue p-3">16.6666%</div>
                </div>
            </section>

            <section class="row mb-3">
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
                <div class="col-md-1">
                    <div class="bg-lightgray text-blue p-3">8.3333%</div>
                </div>
            </section>