.p-about{
    
    .page-title{
        &:before{
            content:"About Iowa Western";
        }
    }

    .s-hero-about{
        max-height: 520px;
        background: url('../images/about_hero.png') no-repeat center;
        background-size:cover;
        position:relative;
        height:100%;

        @include media-breakpoint-down(md) {
        max-height: 200px;
        }
    }

    .s-about{
        margin-bottom:-10rem;
        @include media-breakpoint-down(md) {
            align-items: center;
            margin-bottom:0;
            
            }
        .image-bar{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            width:100%;

            .image-box{
                width:30%;

                @include media-breakpoint-down(md) {
                    width: 100%;
                    align-items: center;
                    }
                
                h3{
                    margin:.5rem 0 1.5rem 0;
                }
            }
        }

        .about-container{
        background-color:transparent;

            h2{
                margin-bottom:1rem;
            }
            p {
              font-size:1.5rem;  
              @include media-breakpoint-down(md) {
              font-size:1rem;
              }

            }
        }
    }
}
