.btn-action {
    display: flex;
    flex-direction: column;
    background: none;
    color: $white;
    position: relative;
    border: 2px solid $white;
    border-bottom: 0;
    line-height: 1;
    outline: 0;

    &:hover{
        color:$yellow;
        border-color:$yellow;

        .ribbon::before,
        .ribbon::after {
            border-color: $yellow
        }
    }

    .ribbon {
        position: absolute;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: stretch;
        align-items: center;

        &::before,
        &::after {
            content: "";
            flex: 1 1 auto;
            height: 0;
            border-bottom: 2px solid $white;
        }
    }
}

// Finder Section
.s-finder {
    @include media-breakpoint-down(sm){
        display: none;
    }
    min-height: 34rem;
    background: white url(../images/backgrounddots.png) no-repeat center;
    background-size: cover;
    position: relative;

    .medallion {
        width: 333px;
        height: 333px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        text-align: center;
        background: transparent url(../images/logo-medallion.png) no-repeat center;
        background-size: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-indent: -9999em;
    }

    a {
        color: $light-blue;
        display: block;
        font-family: "TitilliumText22LBold";
        font-size: 33px;
 
        &.active {
            color: $blue;
            text-transform: uppercase;
            border-bottom: 1px solid $light-blue;
            font-size: 40px;
        }
    }

    .left-nav,
    .right-nav {
        position: absolute;
        top: 50%;
    }

    .left-nav {
        text-align: right;
        padding-right: 150px;
        left: 25%;
        transform: translate(-25%, -50%);
    }
    .right-nav {
        text-align: left;
        padding-left: 150px;
        right: 25%;
        transform: translate(25%, -50%);
    }
}

// News and Events Section
.s-newsevents {
    background: $light-gray url(../images/backgrounddots.png) no-repeat center;
    background-size: cover;

    h3 {
        font-family: "TitilliumText22LBold";
        font-size: 40px;
        color: $navy-blue;
        text-transform: capitalize;
    }  

    .intro {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }

    .btn-next {
        font-size: 1.5rem;
        font-family: 'TitilliumText22LMedium'; 
        color: $purple;
        text-transform: uppercase;
        display: inline-block;
        margin-left: 3rem;

        &::after {
            content: "";
            width: 0;
            height: 0;
            border-left: 11px solid $purple;
            border-right: 0;
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            display: inline-block;
            vertical-align: -.15em;
            margin-left: 10px;
        }
    }
    .news,
    .events {
        margin-left: 15px;
        margin-right: 15px;
    }
    .news {
        display: none;
        flex-basis: 40%;

        .newsfeed {
            width: 100%;
            border: 1px solid $purple;
            min-height: 345px;
            background: $white url(../images/backgrounddots.png) no-repeat  -102px -590px;
            background-size: 250%;
            position: relative;
            padding: 30px;

            .feed {
                border: 1px solid $black;
                min-height: 200px;
                max-height: 100%;
                width: 40%;
                background-color: $white;
                overflow-y: auto;
                position: absolute;
                top: 30px;
                right: 30px;
            }

            &::after {
                content: "";
                position: absolute;
                display: block;
                bottom: 0;
                left: 30px;
                background: transparent url(../images/bkg-student.png) no-repeat bottom center;
                background-size: contain;
                width: 40%;
                height: 318px;
            }
    
        }
    }
    .events {

        .event-day-list {
            display: flex;
            flex-flow: row wrap;
        }

        .event-day {
            flex: 0 0 100%;
            display: flex;
            flex-flow: row;
            align-items: start;
            margin-bottom: 10px;

            ul {
                padding-left: 15px;
            }

            h4{
                font-family: "TitilliumText22LBold";
                margin: 0;
            }

            a {
                color: $purple;
            }
        }

        .date {
            flex: 0 0 48px;
            line-height: 1;
            height: 48px;
            color: $dark-gray;
            background-color: $white;
            border: 2px solid $dark-gray;
            text-align: center;
            border-radius: 24px;
            overflow: hidden;
            padding: 8px 0 0;

            .date-month {
                font-size: 9.875px;
            }

            .date-day {
                font-family: "TitilliumText22LBold";
                font-size: 24px;
                line-height: 1.2;
            }
        }


    }

    @include media-breakpoint-up (sm) {
        .events .event-day{
            flex: 0 0 50%;
        }
    }

    @include media-breakpoint-up(md) {
        min-height: 30rem;
        display: flex;
        flex-flow: row nowrap;
        padding: 2.5rem 6.25rem;

        .news,
        .events {
            flex-grow: 0;
            flex-shrink: 0;
        }
    
        .news {
            display: block;
        }

        .events {
            flex-basis: 60%;
        }

    }

    @include media-breakpoint-up(lg) {
        .newsfeed {
            min-height: 379px;
        }

        .events .event-day{
            flex: 0 0 33.33%;
            margin-bottom: 2.875rem;
        }

    }
}

// Admissions Section
.s-admissions{
    background-image: url(../images/backgrounddots.png);
    background-repeat:repeat-x;
    background-size:50%;
    background-position: top left;
    margin:0 0 40px 0; 

    .admissions-nav-container{
        background-color: rgba(0,63,114,.75);
        padding:1rem 15px;
        height:auto;
        display:block;
        position: relative;

        &::after{
            content: "";
            background: url(../images/background-admissions.png) no-repeat center;
            background-size: cover;
            opacity: 0.3;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1; 
        }

        h2{
            color:$white;
            margin:0 0 2.5rem 0;
        }
    }

    .admissions-nav{
        @include list-unstyled;
        margin-left: -15px;
        margin-right: -15px;

        li {
            flex: 1 0 100%;
            padding: 0 18px;
        }

        .btn-action{
            font-family: 'TitilliumText22LBold';
            padding: 1.5rem;
            text-transform: uppercase;
            font-size:1.25rem;
            margin:10px 0 50px 0;
            align-items: center;
            width: 100%;

            .ribbon {
                bottom: calc(-.375rem + 1px);

                .subhead {
                    padding: 0 10px;
                    font-size: .75rem;
                    text-transform: none;
                }
            }
        }
    }

    .admissions-panels{  
        justify-content:space-evenly;
        align-items: center;
        margin: 30px 0;

        .become-a-reiver,
        .campus-map {
            background-size:cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            min-height:360px;
            -moz-box-shadow:    2px 2px 6px 0px $gray;
            -webkit-box-shadow: 2px 2px 6px 0px $gray;
            box-shadow:         2px 2px 6px 0px $gray;
            position:relative;
        }

        .become-a-reiver{
            background-image: url(../images/become-a-reiver.png);
            background-position: center;
        }
        .campus-map{
            background-image: url(../images/campus-tour.png);
        }

        .admissions-card{
            align-content: center;
            padding: 0 15px;
            width: 100%;
            margin-bottom: 10px;

            button {
                padding:1rem 0;
                background: linear-gradient(rgba(0,42,66,.5), rgba(0,42,66,.5));
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                border:2px solid $white;
                color:$white;
                font-family: 'TitilliumText22LBold';
                width:14rem;

                &:hover{
                    color:$yellow;
                    border-color:$yellow;
                }
            }

            .play{
                color:$yellow;
                border-color:$yellow;

                &:hover{
                    color:$white;
                    border-color:$white
                }
            }
        }
    }

    @include media-breakpoint-up(sm){
        .admissions-nav {
            display:flex;
            flex-flow: row wrap;
            justify-content: space-between;

            li {
                flex-basis: 50%;
            }
        }
    }

    @include media-breakpoint-up(md){
        .admissions-panels {
            display:flex;
            flex-direction: row;
        }

        .admissions-card {
            width:50%;
        }

        .admissions-nav-container {
            padding: 1rem 100px;
        }
    }

    @include media-breakpoint-up(lg) {
        .admissions-nav li {
            flex-basis: 25%;
        }
    }
}

.s-academics{
    background-image: url(../images/backgrounddots.png);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: top left;
    margin:0 0 0 0;  
    color:$white;

    .academics-container{
        background: rgba(0,42,66,.65);
        height:auto;
        display:block;
        position: relative;
        height:auto;
        padding:20px 15px;

        h2{
            margin-bottom:10rem;
        }

        &::after {
            content: "";
            background: transparent url(../images/academics-background.png) no-repeat center;
            opacity: 0.3;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-size: cover;
            position: absolute;
            z-index: -1; 
        }

        .btn-list{
            margin-bottom:0rem;
            align-content: stretch;

            .btn-action{
                margin-bottom:80px;
                justify-content: center;
                color:$white;
                background:none;
                font-size: 1.6rem;
                padding: .5rem 1.8rem 4.5rem 1.8rem;
                border-width: 5px;

                &:hover{
                    color:$yellow;
                }

                .ribbon {
                    bottom: -45px;
                    &:before,
                    &::after {
                        border-top: 15px solid $green;
                        border-bottom-width: 5px;
                    }
                }

                .icon {
                    background: $white url(../images/sprite-academics.gif) no-repeat 0 0;
                    content: " ";
                    height: 110px;
                    width: 110px;
                    border-radius: 100px;
                    background-size: 100%;
                    margin: 0 10px;
                }
            }

            .business .ribbon::before,
            .business .ribbon::after
            {
                border-top-color: $green;
            }

            .industrial{
                .ribbon::before,
                .ribbon::after{
                    border-top-color: $orange;
                }

                .icon{
                    background-position-y: -110px;
                }
            }
            .communication{
                .ribbon::before,
                .ribbon::after{
                    border-top-color: $yellow;
                }

                .icon{
                    background-position-y: -220px;
                }
            }
            .health{
                .ribbon::before,
                .ribbon::after{
                    border-top-color: $red;
                }

                .icon{
                    background-position-y: -330px;
                }
            }
            .science{
                .ribbon::before,
                .ribbon::after{
                    border-top-color: $purple;
                }

                .icon{
                    background-position-y: -440px;
                }
            }

            .social{
                .ribbon::before,
                .ribbon::after{
                    border-top-color: $blue;
                }

                .icon{
                    background-position-y: -550px;
                }

            }
        }
    }

    @include media-breakpoint-up(md) {
        .academics-container {
            padding:20px 100px;
            .btn-list {
                display:flex;
                flex-flow: row wrap;
                justify-content: space-between;
    
                .btn-action {
                    width: 45%;
                }
            }
    
        }
    }

    @include media-breakpoint-up(lg) {
        .academics-container .btn-list .btn-action {
            width: 30%;
        }
    }
}

.s-featured {
    background:$dark-gray;

    .featured-container {
        @include make-container();
        padding: 0;
        max-width: 1200px;
    }

    .featured-panel{
        text-align: center;
        padding:30px 80px 30px 80px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .featured-athletics{
        background:$blue;
    }
    .featured-artscenter{
        background:$green;
    }
    .featured-river{
        background:$red;
    }

    .btn{
        border:solid $white 1px;
        padding:.5rem 2rem;
        color:$white;
        

        &:hover{
            border-color:$yellow;
            color:$yellow;
            text-decoration: none;
        }
    }

    @include media-breakpoint-up(md) {
        .featured-container{
            display:flex;
            justify-content: center;
            flex-direction: row;
            height:260px;
        }
    }
}

.s-centers{
    background-image: url(../images/backgrounddots.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    padding: 2rem 15px 0;  
    color:$blue;

    .center-panels{
        margin: 2rem 0 4rem;
    }

    .center-panel{
        width: 100%;
        margin-bottom: 20px;

        .center-image {
            display: block;
        }

        img{
            -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
            mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
        }
        
        .btn{
            display: block;
            position: relative;
            text-align: center;
            width:100%;
            background-color:$white;
            border: 3px solid $blue;
            color:$blue;
            font-size: 2rem;
            padding: 2rem 0;
            font-family:'TitilliumText22LBold';
            min-height: 11rem;

            &::after{
                display: block;
                color: $blue;
                border:1px solid $blue;
                padding:.25em 20px;
                font: 1.0625rem/1.5 'TitilliumText22LBold';
                position:absolute;
                bottom:-1em;
                left:50%;
                transform: translateX(-50%);
                text-align: center;
                background-color:$white;
            }
        }
        .clarinda::after{
            content:"Clarinda, IA";
        }
        .cass::after{
            content:"Atlantic, IA";
        }
        .shelby::after{
            content:"Harlan, IA";
        }
        .fremont::after{
            content:"Shenendoah, IA";
        }
    }

.sidebar{
        height:300px;
        position:fixed;
        
    .sidebar-body{
        background-color: $green;

    }


}

    @include media-breakpoint-up(sm){
        .center-panels{
            display:flex;
            flex-flow:row wrap;
            justify-content:space-between;
            margin: 2rem -15px;
        }

        .center-panel {
            width:50%;
            padding: 0 15px;
        }

    }

    @include media-breakpoint-up (lg) {
        padding: 2rem 100px 0;  

        .center-panel {
            width:25%;    
        }
    }

    @include media-breakpoint-up (xl) {
        .center-panel .center-image {
            display: block;
        }
    }
}
