@import "../base";
@import "../academics"; // academics section

// Finder Section
.s-finder {
    width: 100%;
    height: 0;
    background: white $bkg-dots no-repeat center;
    background-size: cover;
    position: relative;

    .medallion {
        width: 208px;
        height: 208px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        text-align: center;
        background: transparent $logo-medallion no-repeat center;
        background-size: cover;
        position: absolute;
        top: auto;
        left: 50%;
        transform: translate(-50%, -104px);
        // transition: all .5s linear;
        text-indent: -9999em;
    }

    a {
        color: project-color("light-blue");
        display: block;
        font-family: "TitilliumText22LBold";
        font-size: 33px;
 
        &.active {
            color: project-color("blue");
            text-transform: uppercase;
            border-bottom: 1px solid project-color("green");
            font-size: 40px;
            text-decoration: none;
        }
    }

    .finder-nav {
        width: 100%;
        display: none;
        overflow: hidden;
        height: 100%;
        position: relative;
    }

    .left-nav,
    .right-nav {
        position: absolute;
        top: 50%;
        // transition: all .5s linear;
    }

    .left-nav {
        text-align: right;
        left: 50%;
        transform: translate(-100%, -50%);
        padding-right: 220px;

        a {

            &:first-child{
                transform: rotate(15deg);
                transform-origin: calc(100% + 220px) calc(.5em + 30px);
            }

            &:last-child{
                transform: rotate(-15deg);
                transform-origin: calc(100% + 220px) -30px;
            }

        }
    }
    .right-nav {
        text-align: left;
        right: 50%;
        transform: translate(100%, -50%);
        padding-left: 220px;

        a {

            &:first-child{
                transform: rotate(-15deg);
                transform-origin: -220px calc(.5em + 30px);
            }

            &:last-child{
                transform: rotate(15deg);
                transform-origin: -220px -30px;
            }

        }

    }
}

// News and Events Section
.s-newsevents {
    background: project-color("light-gray") $bkg-dots no-repeat center;
    background-size: cover;

    h3 {
        font-family: "TitilliumText22LBold";
        font-size: 40px;
        color: project-color("navy-blue");
        text-transform: capitalize;
    }  

    .intro {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }

    .btn-next {
        font-size: 1.5rem;
        font-family: 'TitilliumText22LMedium'; 
        color: project-color("purple");
        text-transform: uppercase;
        display: inline-block;
        margin-left: 3rem;

        &::after {
            content: "";
            width: 0;
            height: 0;
            border-left: 11px solid project-color("purple");
            border-right: 0;
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            display: inline-block;
            vertical-align: -.15em;
            margin-left: 10px;
        }
    }
    .news,
    .events {
        margin-left: 15px;
        margin-right: 15px;
    }
    .news {
        display: none;
        flex-basis: 40%;

        .newsfeed {
            width: 100%;
            border: 1px solid project-color("purple");
            min-height: 345px;
            background: $white $bkg-dots no-repeat  -102px -590px;
            background-size: 250%;
            position: relative;
            padding: 30px;

            .feed {
                border: 1px solid $black;
                min-height: 200px;
                max-height: 100%;
                width: 40%;
                background-color: $white;
                overflow-y: auto;
                position: absolute;
                top: 30px;
                right: 30px;
            }

            &::after {
                content: "";
                position: absolute;
                display: block;
                bottom: 0;
                left: 30px;
                background: transparent $bkg-student no-repeat bottom center;
                background-size: contain;
                width: 40%;
                height: 318px;
            }
    
        }
    }
    .events {

        h4,
        p {
            font-size: .9375rem;
        }

        .event-day-list {
            display: flex;
            flex-flow: row wrap;
        }

        .event-day {
            flex: 0 0 100%;
            display: flex;
            flex-flow: row;
            align-items: start;
            margin-bottom: 10px;

            ul {
                padding-left: 15px;
            }

            h4{
                font-family: "TitilliumText22LBold";
                margin: 0;
            }

            a {
                color: project-color("purple");
            }
        }

        .date {
            flex: 0 0 48px;
            line-height: 1;
            height: 48px;
            color: project-color("dark-gray");
            background-color: $white;
            border: 2px solid project-color("dark-gray");
            text-align: center;
            border-radius: 24px;
            overflow: hidden;
            padding: 8px 0 0;

            .date-month {
                font-size: 9.875px;
            }

            .date-day {
                font-family: "TitilliumText22LBold";
                font-size: 24px;
                line-height: 1.2;
            }
        }

        .event-list {
            @include list-unstyled;
        }

    }

    @include media-breakpoint-up (sm) {
        .events .event-day{
            flex: 0 0 50%;
        }
    }

    @include media-breakpoint-up(md) {
        min-height: 30rem;
        display: flex;
        flex-flow: row nowrap;
        padding: 2.5rem 6.25rem;

        .news,
        .events {
            flex-grow: 0;
            flex-shrink: 0;
        }
    
        .news {
            display: block;
        }

        .events {
            flex-basis: 60%;
        }

    }

    @include media-breakpoint-up(lg) {
        .newsfeed {
            min-height: 379px;
        }

        .events .event-day{
            flex: 0 0 33.33%;
            margin-bottom: 2.875rem;
        }

    }
}

.s-academics{
    background: rgba(0,42,66,.65) $bkg-dots no-repeat top left;
    background-size:100%;

    &::before {
        content: "";
        background: transparent $bkg-academics no-repeat center;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-size: cover;
        position: absolute;
        z-index: -1; 
    }


    h2{
        color:project-color("white");
    }
}

// Admissions Section
.s-admissions{
    background-image: $bkg-dots;
    background-repeat:repeat-x;
    background-size:50%;
    background-position: top left;
    margin:0 0 40px 0; 

    .admissions-nav-container{
        background-color: rgba(0,63,114,.75);
        padding:1rem 15px;
        height:auto;
        display:block;
        position: relative;

        &::after{
            content: "";
            background: $bkg-admissions no-repeat center;
            background-size: cover;
            opacity: 0.3;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1; 
        }

        h2{
            color:$white;
            margin:0 0 2.5rem 0;
        }
    }

    .admissions-nav{
        @include list-unstyled;
        margin-left: -15px;
        margin-right: -15px;

        li {
            flex: 1 0 100%;
            padding: 0 18px;
        }

        .btn-action{
            font-family: 'TitilliumText22LBold';
            padding: 1.5rem;
            text-transform: uppercase;
            font-size:1.25rem;
            margin:10px 0 50px 0;
            align-items: center;
            width: 100%;

            .ribbon {
                bottom: calc(-.375rem + 1px);

                .subhead {
                    padding: 0 10px;
                    font-size: .75rem;
                    text-transform: none;
                }
            }
        }
    }

    .admissions-panels{  
        justify-content:space-evenly;
        align-items: center;
        margin: 30px 0;

        .become-a-reiver,
        .campus-map {
            background-size:cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            min-height:360px;
            -moz-box-shadow:    2px 2px 6px 0px project-color("gray");
            -webkit-box-shadow: 2px 2px 6px 0px project-color("gray");
            box-shadow:         2px 2px 6px 0px project-color("gray");
            position:relative;
        }

        .become-a-reiver{
            background-image: url(../../images/become-a-reiver.png);
            background-position: center;
        }
        .campus-map{
            background-image: url(../../images/campus-tour.png);
        }

        .admissions-card{
            align-content: center;
            padding: 0 15px;
            width: 100%;
            margin-bottom: 10px;

            button {
                padding:1rem 0;
                background: linear-gradient(rgba(0,42,66,.5), rgba(0,42,66,.5));
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                border:2px solid $white;
                color:$white;
                font-family: 'TitilliumText22LBold';
                width:14rem;

                &:hover{
                    color:project-color("yellow");
                    border-color:project-color("yellow");
                }
            }

            .play{
                color:project-color("yellow");
                border-color:project-color("yellow");

                &:hover{
                    color:$white;
                    border-color:$white
                }
            }
        }
    }

    @include media-breakpoint-up(sm){
        .admissions-nav {
            display:flex;
            flex-flow: row wrap;
            justify-content: space-between;

            li {
                flex-basis: 50%;
            }
        }
    }

    @include media-breakpoint-up(md){
        .admissions-panels {
            display:flex;
            flex-direction: row;
        }

        .admissions-card {
            width:50%;
        }

        .admissions-nav-container {
            padding: 1rem 100px;
        }
    }

    @include media-breakpoint-up(lg) {
        .admissions-nav li {
            flex-basis: 25%;
        }
    }
}

.s-featured {
    background:project-color("dark-gray");

    .featured-container {
        @include make-container();
        padding: 0;
        max-width: 1200px;
    }

    .featured-panel{
        text-align: center;
        padding:30px 80px 30px 80px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .featured-athletics{
        background:project-color("blue");
    }
    .featured-artscenter{
        background:project-color("green");
    }
    .featured-river{
        background:project-color("red");
    }

    .btn{
        border:solid $white 1px;
        padding:.5rem 2rem;
        color:$white;
        

        &:hover{
            border-color:project-color("yellow");
            color:project-color("yellow");
            text-decoration: none;
        }
    }

    @include media-breakpoint-up(md) {
        .featured-container{
            display:flex;
            justify-content: center;
            flex-direction: row;
            height:260px;
        }
    }
}

.s-centers{
    background-image: $bkg-dots;
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    padding: 2rem 15px 0;  
    color:project-color("blue");

    .center-panels{
        margin: 2rem 0 4rem;
    }

    .center-panel{
        width: 100%;
        margin-bottom: 20px;

        .center-image {
            display: block;
        }

        img{
            -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
            mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
        }
        
        .btn{
            display: block;
            position: relative;
            text-align: center;
            width:100%;
            background-color:$white;
            border: 3px solid project-color("blue");
            color:project-color("blue");
            font-size: 2rem;
            padding: 2rem 0;
            font-family:'TitilliumText22LBold';
            min-height: 11rem;

            &::after{
                display: block;
                color: project-color("blue");
                border:1px solid project-color("blue");
                padding:.25em 20px;
                font: 1.0625rem/1.5 'TitilliumText22LBold';
                position:absolute;
                bottom:-1em;
                left:50%;
                transform: translateX(-50%);
                text-align: center;
                background-color:$white;
            }
        }
        .clarinda::after{
            content:"Clarinda, IA";
        }
        .cass::after{
            content:"Atlantic, IA";
        }
        .shelby::after{
            content:"Harlan, IA";
        }
        .fremont::after{
            content:"Shenendoah, IA";
        }
    }

    @include media-breakpoint-up(sm){
        .center-panels{
            display:flex;
            flex-flow:row wrap;
            justify-content:space-between;
            margin: 2rem -15px;
        }

        .center-panel {
            width:50%;
            padding: 0 15px;
        }

    }

    @include media-breakpoint-up (lg) {
        padding: 2rem 100px 0;  

        .center-panel {
            width:25%;    
        }
    }

    @include media-breakpoint-up (xl) {
        .center-panel .center-image {
            display: block;
        }
    }
}

.sidebar{
    border:none;
    padding: 0px;
    color: $white;

    .close{
        display: none;
        font-family: "TitilliumText22LBold";
        position: absolute;
        top:-10px;
        left:-10px;
        background-color: project-color("green");
        width:32px;
        height:32px;
        border-radius: 32px;
        box-shadow: 2px 2px 8px project-color("black");
        font-weight: 200;
        font-size: 32px;
        line-height: 1;
        text-align: center;
    }

    .sidebar-body{
        background-color: project-color("green");
        padding: 6.5rem 0 0;
        text-align: center;

        h4, h5 {
            color: inherit;
            margin-bottom: 0;
        }
        h4{
            font-size: 40px;
            padding: 12px 24px;
            line-height: 1;
        }
        h5{
            font-size: 1rem;
            padding: 12px 24px;
            background-image: linear-gradient(to left, transparentize(project-color("blue"), 0), transparentize(project-color("blue"), .25));
        }    
        ul{
            font-size: 2rem; 
            margin:2rem 0 0 -1rem;
            list-style: none;
            display: none;
        }

        .logo-online {
            background-color: white;
            padding: .8125rem;
            width: 100%;
            display: block;
        }
    }
}

@include media-breakpoint-up(md) {
    .s-finder{
        min-height: 34rem;

        .finder-nav {
            display: block;
        }
        
        .medallion {
            width: 333px;
            height: 333px;
            transform: translate(-50%, -166.5px);
        }    
    }

    .sidebar{
        position:fixed;
        top:200px;
        right:0px;
        z-index:10000;
        border:solid 5px project-color("green");
        border-radius: 10px;
        padding: 3px;
        border-right: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        padding-right: 0;
    
        .close{
            display: block;
        }

        .sidebar-body{
            width: 328px;
            text-align: left;
            padding-top: 1rem;
            padding-bottom: 2rem;

            ul{
                display: block;
            }
        }
    }
}

@include media-breakpoint-down(sm){

    .content{
        display: flex;
        flex-direction: column;
    }

    .s-newsevents{
        order:3;
    }

    .s-admissions{
        order:2;
    }

    .s-academics{
        order:4;
    }

    .s-featured{
        order:4;
    }

    .s-centers{
        order:4;
    }

    .s-hero{
        max-height:400px;
    }

    .s-admissions{
        margin-bottom:0;
        .admissions-nav-container{
            padding-bottom: 5rem; 
        }

        .admissions-panels{
            margin-top: -6rem;
            .become-a-reiver, .campus-map{
                background-size:cover;
                height: 25%;
                min-height: 200px;
            }
        }
    }

    .s-academics{
         .academics-container { 
             h2 {
                margin-bottom: 2.5rem;
                color:project-color("white");
             }
            }
        }

        .s-featured{
            .btn{
                margin-top: 30px;
            }
        }

    }



    @include media-breakpoint-down(lg){
        .s-centers{
            .center-panel{
                .btn{
                    font-size:1rem;
                    &:after{
                        font: .8rem/.85 'TitilliumText22LBold';  
                    }
                    min-height: 8rem;
                }
                .center-image {
                    display:none
                }
            }
        }
    }