{{> ../partials/section-academics-simple showGeneral=true }}
<section class="s-programs s-container">
    <h3>Compare Programs</h3>
    <div class="programs programs-compare">
        <div class="program-list">
            {{#if this.programs}}
                {{#each this.programs as |program|}}
                <div class="program card meta-{{program.metaType}}">
                    <div class="card-header">
                        <select name="program-select[]" class="custom-select">
                            <option>Select a program to compare</option>
                        </select>
                        <button type="button" class="btn btn-blue">Select</button>
                    </div>
                    <div class="card-body">
                        <small class="program-meta">Business and Accounting</small>
                        <h4 class="program-title">{{program.title}}</h4>
                        <dl>
                            <dt>About the program</dt>
                            <dd><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p></dd>
 
                            <dt>Career Opportunities</dt>
                            <dd>
                                <ul>
                                    <li>Career Example</li>
                                    <li>Career Example</li>
                                    <li>Career Example</li>
                                </ul>
                            </dd>

                            <dt>Wages</dt>
                            <dd>
                                <ul>
                                    <li>Starting - $16.85</li>
                                    <li>Average - $2.85</li>
                                </ul>
                            </dd>

                            <dt>What will you do?</dt>
                            <dd><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p></dd>
                            <dd><a href="">Gainful Employment</a></dd>

                            <dt>Choose your path</dt>
                            <dd></dd>

                            <dt>Start Terms</dt>
                            <dd></dd>
                            <dt>Financial Aid</dt>
                            <dd></dd>
                            
                            <dt>Additional Information</dt>
                            <dd></dd>
                    </div>
                </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</section>