<section class="s-programs s-container">
    {{> ../partials/titlebar-meta}}

    <div class="programs">
        <div class="programs-filters">
            <legend>Legend</legend>
            <div class="legend-terms">
                <span class="term-fall">Fall Start Term</span>
                <span class="term-spring">Spring Start Term</span>
                <span class="term-summer">Summer Start Term</span>
            </div>

            <ul class="program-filter-column">
                <li>
                    <span class="icon icon-program-full"></span> Full Time Programs
                </li>
                <li>
                    <span class="icon icon-program-part"></span> Part Time Programs
                </li>
                <li>
                    <span class="icon icon-program-online"></span> Online Programs
                </li>
                <li>
                    <span class="icon icon-program-evening"></span> Evening Programs
                </li>
                <li>
                    <span class="icon icon-program-transfer"></span> Transfer Programs
                </li>
            </ul>

            <ul class="program-filter-column">
                <li>
                    <span class="icon icon-program-aa"></span> Associate of Arts
                </li>
                <li>
                    <span class="icon icon-program-as"></span> Associate of Science
                </li>
                <li>
                    <span class="icon icon-program-aas"></span> Associate of Applied Science
                </li>
                <li>
                    <span class="icon icon-program-aas"></span> Associate of General Studies
                </li>
                <li>
                    <span class="icon icon-program-certificate"></span> Certificate
                </li>
                <li>
                    <span class="icon icon-program-diploma"></span> Diploma
                </li>
            </ul>
        </div>

        <form class="programs-listings">

            <fieldset class="program-list">
                {{#if this.areas}}
                {{#each this.areas as |area|}}
                    <h4 class="title-area">{{area.title}}</h4>
                    {{#if area.programs}}
                    {{#each area.programs}}
                        {{>../partials/program }}
                    {{/each}}
                    {{/if}}
                {{/each}}
                {{/if}}
            </fieldset>
        </form>
    </div>
</section>