{{> ../partials/section-academics showGeneral=true }}
<section class="s-programs s-container">
    <h3 class="text-green">Filters</h3>
    <div class="programs">
        <form class="programs-filters">
            <fieldset class="program-filter-column">
                <legend>Choose your path.</legend>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-path[]" id="program-path-full" value="full" class="custom-control-input" />
                        <label for="program-path-full" class="custom-control-label"><span class="icon icon-program-full"></span> Full Time Programs</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-path[]" id="program-path-part" value="part" class="custom-control-input" />
                        <label for="program-path-part" class="custom-control-label"><span class="icon icon-program-part"></span> Part Time Programs</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-path[]" id="program-path-online" value="online" class="custom-control-input" />
                        <label for="program-path-online" class="custom-control-label"><span class="icon icon-program-online"></span> Online Programs</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-path[]" id="program-path-evening" value="evening" class="custom-control-input" />
                        <label for="program-path-evening" class="custom-control-label"><span class="icon icon-program-evening"></span> Evening Programs</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-path[]" id="program-path-transfer" value="transfer" class="custom-control-input" />
                        <label for="program-path-transfer" class="custom-control-label"><span class="icon icon-program-transfer"></span> Transfer Programs</label>
                    </div>
                </div>
            </fieldset>

            <fieldset class="program-filter-column">
                <legend>Type of degree.</legend>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-degree[]" id="program-degree-aa" value="aa" class="custom-control-input" />
                        <label for="program-degree-aa" class="custom-control-label"><span class="icon icon-program-aa"></span> Associate of Arts</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-degree[]" id="program-degree-as" value="as" class="custom-control-input" />
                        <label for="program-degree-as" class="custom-control-label"><span class="icon icon-program-as"></span> Associate of Science</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-degree[]" id="program-degree-aas" value="aas" class="custom-control-input" />
                        <label for="program-degree-aas" class="custom-control-label"><span class="icon icon-program-aas"></span> Associate of Applied Science</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-degree[]" id="program-degree-ags" value="ags" class="custom-control-input" />
                        <label for="program-degree-ags" class="custom-control-label"><span class="icon icon-program-aas"></span> Associate of General Studies</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-degree[]" id="program-degree-cert" value="cert" class="custom-control-input" />
                        <label for="program-degree-cert" class="custom-control-label"><span class="icon icon-program-certificate"></span> Certificate</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-degree[]" id="program-degree-diploma" value="diploma" class="custom-control-input" />
                        <label for="program-degree-diploma" class="custom-control-label"><span class="icon icon-program-diploma"></span> Diploma</label>
                    </div>
                </div>
            </fieldset>
        </form>
        <form class="programs-listings">
            <fieldset>
                <legend class="legend-terms">
                    <span class="term-fall">Fall Start Term</span>
                    <span class="term-spring">Spring Start Term</span>
                    <span class="term-summer">Summer Start Term</span>
                </legend>
            </fieldset>

            <fieldset class="program-list">
                {{#each programs}}
                {{>../partials/program }}
                {{/each}}
            </fieldset>
        </form>
    </div>
</section>