<section class="s-programs s-container">
    <h3>Filters</h3>
    <div class="programs">
        <form class="programs-filters">
            <fieldset class="program-filter-column">
                <legend>Choose your path.</legend>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-path[]" id="program-path-full" value="full" class="custom-control-input" />
                        <label for="program-path-full" class="custom-control-label"><span class="icon icon-program-full"></span> Full Time Programs</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-path[]" id="program-path-part" value="part" class="custom-control-input" />
                        <label for="program-path-part" class="custom-control-label"><span class="icon icon-program-part"></span> Part Time Programs</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-path[]" id="program-path-online" value="online" class="custom-control-input" />
                        <label for="program-path-online" class="custom-control-label"><span class="icon icon-program-online"></span> Online Programs</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-path[]" id="program-path-evening" value="evening" class="custom-control-input" />
                        <label for="program-path-evening" class="custom-control-label"><span class="icon icon-program-evening"></span> Evening Programs</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-path[]" id="program-path-transfer" value="transfer" class="custom-control-input" />
                        <label for="program-path-transfer" class="custom-control-label"><span class="icon icon-program-transfer"></span> Transfer Programs</label>
                    </div>
                </div>
            </fieldset>

            <fieldset class="program-filter-column">
                <legend>Type of degree.</legend>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-degree[]" id="program-degree-aa" value="aa" class="custom-control-input" />
                        <label for="program-degree-aa" class="custom-control-label"><span class="icon icon-program-aa"></span> Associate of Arts</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-degree[]" id="program-degree-as" value="as" class="custom-control-input" />
                        <label for="program-degree-as" class="custom-control-label"><span class="icon icon-program-as"></span> Associate of Science</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-degree[]" id="program-degree-aas" value="aas" class="custom-control-input" />
                        <label for="program-degree-aas" class="custom-control-label"><span class="icon icon-program-aas"></span> Associate of Applied Science</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-degree[]" id="program-degree-ags" value="ags" class="custom-control-input" />
                        <label for="program-degree-ags" class="custom-control-label"><span class="icon icon-program-aas"></span> Associate of General Studies</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-degree[]" id="program-degree-cert" value="cert" class="custom-control-input" />
                        <label for="program-degree-cert" class="custom-control-label"><span class="icon icon-program-certificate"></span> Certificate</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="program-degree[]" id="program-degree-diploma" value="diploma" class="custom-control-input" />
                        <label for="program-degree-diploma" class="custom-control-label"><span class="icon icon-program-diploma"></span> Diploma</label>
                    </div>
                </div>
            </fieldset>
        </form>
        <form class="programs-listings">
            <fieldset>
                <legend class="legend-terms">
                    <span class="term-fall">Fall Start Term</span>
                    <span class="term-spring">Spring Start Term</span>
                    <span class="term-summer">Summer Start Term</span>
                </legend>
            </fieldset>

            <fieldset class="program-list">
                <div class="program meta-business">
                    <h4 class="program-title">Accounting Technician</h4>
                    <div class="program-legend">
                        <div class="program-legend-term">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Fall Start"><span class="icon icon-program-fall">Fall Start Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Spring Start"><span class="icon icon-program-spring">Spring Start Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Summer Start"><span class="icon icon-program-summer">Summer Start Program</span></button>
                        </div>
                        <div class="program-legend-type">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Full Time Program"><span class="icon icon-program-full">Full Time Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Part Time Program"><span class="icon icon-program-part">Part Time Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Online Program"><span class="icon icon-program-online">Online Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Evening Program"><span class="icon icon-program-evening">Evening Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Transfer Program"><span class="icon icon-program-transfer">Transfer Program</span></button>
                        </div>
                        <div class="program-legend-degree">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Diploma"><span class="icon icon-program-diploma">Diploma</span></button>
                        </div>
                    </div>
                </div>
                <div class="program meta-business">
                    <h4 class="program-title">Accounting: Para-Accounting</h4>
                    <div class="program-legend">
                        <div class="program-legend-term">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Fall Start"><span class="icon icon-program-fall">Fall Start Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Spring Start"><span class="icon icon-program-spring">Spring Start Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Summer Start"><span class="icon icon-program-summer">Summer Start Program</span></button>
                        </div>
                        <div class="program-legend-type">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Full Time Program"><span class="icon icon-program-full">Full Time Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Part Time Program" disabled><span class="icon icon-program-part">Part Time Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Online Program"><span class="icon icon-program-online">Online Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Evening Program"><span class="icon icon-program-evening">Evening Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Transfer Program" disabled><span class="icon icon-program-transfer">Transfer Program</span></button>
                        </div>
                        <div class="program-legend-degree">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Associate of Applied Sciences Degree"><span class="icon icon-program-aas">Associate of Applied Sciences Degree</span></button>
                        </div>
                    </div>
                </div>
                <div class="program meta-industrial">
                    <h4 class="program-title">Agribusiness Technology</h4>
                    <div class="program-legend">
                        <div class="program-legend-term">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Fall Start"><span class="icon icon-program-fall">Fall Start Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Spring Start" disabled><span class="icon icon-program-spring">Spring Start Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Summer Start" disabled><span class="icon icon-program-summer">Summer Start Program</span></button>
                        </div>
                        <div class="program-legend-type">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Full Time Program"><span class="icon icon-program-full">Full Time Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Part Time Program" disabled><span class="icon icon-program-part">Part Time Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Online Program" disabled><span class="icon icon-program-online">Online Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Evening Program"><span class="icon icon-program-evening">Evening Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Transfer Program" disabled><span class="icon icon-program-transfer">Transfer Program</span></button>
                        </div>
                        <div class="program-legend-degree">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Diploma"><span class="icon icon-program-diploma">Diploma</span></button>
                        </div>
                    </div>
                </div>
                <div class="program meta-industrial">
                    <h4 class="program-title">Agribusiness Technology: Agronomy Operations Certificate</h4>
                    <div class="program-legend">
                        <div class="program-legend-term">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Fall Start"><span class="icon icon-program-fall">Fall Start Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Spring Start" disabled><span class="icon icon-program-spring">Spring Start Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Summer Start" disabled><span class="icon icon-program-summer">Summer Start Program</span></button>
                        </div>
                        <div class="program-legend-type">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Full Time Program"><span class="icon icon-program-full">Full Time Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Part Time Program" disabled><span class="icon icon-program-part">Part Time Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Online Program" disabled><span class="icon icon-program-online">Online Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Evening Program" disabled><span class="icon icon-program-evening">Evening Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Transfer Program"><span class="icon icon-program-transfer">Transfer Program</span></button>
                        </div>
                        <div class="program-legend-degree">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Certificate"><span class="icon icon-program-certificate">Certificate</span></button>
                        </div>
                    </div>
                </div>
                <div class="program meta-industrial">
                    <h4 class="program-title">Agribusiness Technology: Agronomy Sales and Service Diploma</h4>
                    <div class="program-legend">
                        <div class="program-legend-term">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Fall Start"><span class="icon icon-program-fall">Fall Start Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Spring Start" disabled><span class="icon icon-program-spring">Spring Start Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Summer Start" disabled><span class="icon icon-program-summer">Summer Start Program</span></button>
                        </div>
                        <div class="program-legend-type">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Full Time Program"><span class="icon icon-program-full">Full Time Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Part Time Program" disabled><span class="icon icon-program-part">Part Time Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Online Program" disabled><span class="icon icon-program-online">Online Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Evening Program" disabled><span class="icon icon-program-evening">Evening Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Transfer Program"><span class="icon icon-program-transfer">Transfer Program</span></button>
                        </div>
                        <div class="program-legend-degree">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Certificate"><span class="icon icon-program-certificate">Certificate</span></button>
                        </div>
                    </div>
                </div>
                <div class="program meta-business">
                    <h4 class="program-title">Applied Business: Individualized Technician Program</h4>
                    <div class="program-legend">
                        <div class="program-legend-term">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Fall Start"><span class="icon icon-program-fall">Fall Start Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Spring Start" disabled><span class="icon icon-program-spring">Spring Start Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Summer Start" disabled><span class="icon icon-program-summer">Summer Start Program</span></button>
                        </div>
                        <div class="program-legend-type">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Full Time Program"><span class="icon icon-program-full">Full Time Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Part Time Program" disabled><span class="icon icon-program-part">Part Time Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Online Program" disabled><span class="icon icon-program-online">Online Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Evening Program" disabled><span class="icon icon-program-evening">Evening Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Transfer Program"><span class="icon icon-program-transfer">Transfer Program</span></button>
                        </div>
                        <div class="program-legend-degree">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Certificate"><span class="icon icon-program-certificate">Certificate</span></button>
                        </div>
                    </div>
                </div>
                <div class="program meta-communication">
                    <h4 class="program-title">Art</h4>
                    <div class="program-legend">
                        <div class="program-legend-term">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Fall Start"><span class="icon icon-program-fall">Fall Start Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Spring Start" disabled><span class="icon icon-program-spring">Spring Start Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Summer Start" disabled><span class="icon icon-program-summer">Summer Start Program</span></button>
                        </div>
                        <div class="program-legend-type">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Full Time Program"><span class="icon icon-program-full">Full Time Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Part Time Program" disabled><span class="icon icon-program-part">Part Time Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Online Program" disabled><span class="icon icon-program-online">Online Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Evening Program" disabled><span class="icon icon-program-evening">Evening Program</span></button>
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Transfer Program"><span class="icon icon-program-transfer">Transfer Program</span></button>
                        </div>
                        <div class="program-legend-degree">
                            <button type="button" class="btn btn-icon" data-toggle="tooltip" data-placement="top" title="Associate of Arts Degree"><span class="icon icon-program-aa">Associate of Arts Degree</span></button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>