/**
    Section specific styling for the academics programs list.
    Reused in home and academics pages.
*/
.s-academics{
    margin:0 0 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color:$white;
    position: relative;
    height:auto;
    display:block;
    height:auto;

    .btn-action {
        .icon {
            background: transparent $sprite-academics no-repeat top center;
            content: "";
            border-radius: 50%;
            border: 5px solid $white;
        }
    }

    &.simple {
        .btn-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .btn-action {
            filter: none !important;
            flex: 1;
            color: project-color("blue");
            border: 0;

            @include hover-focus-active {
                border-color: transparent;
            }
        }

        .icon {
            height: 75px;
            width: 75px;
            background-size: 65px 455px;
            margin-bottom: 25px;
            filter: drop-shadow(4px 4px 8px transparentize(project-color("navy-blue"), .59));
        }

        @each $meta, $color in $meta-map {
            .#{$meta} {
                .icon {
                    background-position-y: (index($meta-map, ($meta $color))-1) * -65px;
                }
            }
        }
    }

    &:not(.simple) {

        .ribbon {
            bottom: -45px;

            &::before,
            &::after {
                border-top: 15px solid project-color("green");
                border-bottom-width: 5px;
            }
        }

        .btn-action {
            border-width: 5px;
            border-bottom: 0;
            line-height: 1;
            outline: 0;
            margin-bottom:80px;
            font-size: 1.6rem;
            padding: .5rem 1.8rem 4.5rem 1.8rem;

            &:hover{
                color:project-color("yellow");
                border-color: project-color("yellow");
            }

            .icon {
                height: 110px;
                width: 110px;
                border-radius: 100px;
                background-size: 100px 700px;
                margin: 0 10px;
            }
        }

        .btn-list{
            margin-bottom: 0;
            align-content: stretch;
        }

        @each $meta, $color in $meta-map {
            .#{$meta} {
                .icon {
                    background-position-y: (index($meta-map, ($meta $color))-1) * -100px;
                }
            }
        }

    }
    @each $meta, $color in $meta-map {
        .#{$meta} {
            .ribbon::before,
            .ribbon::after
            {
                border-top-color: project-color($color);
            }
            .icon {
                background-color: project-color($color);
            }
        }
    }       

    @include media-breakpoint-up(md) {
        padding:20px 100px;
        h2 {
            margin-bottom:10rem;
        }

        &:not(.simple) .btn-list {
            display:flex;
            flex-flow: row wrap;
            justify-content: space-between;

            .btn-action {
                width: 45%;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &:not(.simple) .btn-list .btn-action {
            width: 30%;
        }
    }
}

