/**
    Section specific styling for the academics programs list.
    Reused in home and academics pages.
*/
.s-academics{
    margin:0 0 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color:$white;
    position: relative;
    height:auto;
    display:block;
    height:auto;

    h2 {
        margin-bottom:10rem;
    }

    .btn-action {
        border-width: 5px;
        border-bottom: 0;
        line-height: 1;
        outline: 0;
        margin-bottom:80px;
        font-size: 1.6rem;
        padding: .5rem 1.8rem 4.5rem 1.8rem;

        &:hover{
            color:project-color("yellow");
        }

        .ribbon {
            bottom: -45px;

            &:before,
            &::after {
                border-top: 15px solid project-color("green");
                border-bottom-width: 5px;
            }
        }

        .icon {
            background: transparent $sprite-academics no-repeat top center;
            content: "";
            height: 110px;
            width: 110px;
            border-radius: 100px;
            background-size: 100px 700px;
            margin: 0 10px;
            border: 5px solid $white;
        }

    }

    .btn-list{
        margin-bottom: 0;
        align-content: stretch;
    }

    .business {
        .ribbon::before,
        .ribbon::after
        {
            border-top-color: project-color("green");
        }
        .icon {
            background-color: project-color("green")
        }
    }

    .industrial{
        .ribbon::before,
        .ribbon::after{
            border-top-color: project-color("orange");
        }

        .icon{
            background-color: project-color("orange");
            background-position-y: -100px;
        }
    }
    .communication{
        .ribbon::before,
        .ribbon::after{
            border-top-color: project-color("yellow");
        }

        .icon{
            background-color: project-color("yellow");
            background-position-y: -200px;
        }
    }
    .health{
        .ribbon::before,
        .ribbon::after{
            border-top-color: project-color("red");
        }

        .icon{
            background-color: project-color("red");
            background-position-y: -300px;
        }
    }
    .science{
        .ribbon::before,
        .ribbon::after{
            border-top-color: project-color("purple");
        }

        .icon{
            background-color: project-color("purple");
            background-position-y: -400px;
        }
    }

    .social{
        .ribbon::before,
        .ribbon::after{
            border-top-color: project-color("blue");
        }

        .icon{
            background-color: project-color("blue");
            background-position-y: -500px;
        }
    }
    .general{
        line-height:3.15rem;
        .ribbon::before,
        .ribbon::after{
            border-top-color: project-color("dark-gray");
        }

        .icon{
            background-color: project-color("dark-gray");
            background-position-y: -600px;
        }
    }
    
    @include media-breakpoint-up(md) {
        padding:20px 100px;
        .btn-list {
            display:flex;
            flex-flow: row wrap;
            justify-content: space-between;

            .btn-action {
                width: 45%;
            }
        }    
    }

    @include media-breakpoint-up(lg) {
        .btn-list .btn-action {
            width: 30%;
        }
    }
}

