$bkg-dots:"../../images/backgrounddots.png";
$bkg-academics: "../../images/academics-background.png";
$bkg-admissions: "../../images/background-admissions.png";
$bkg-student: "../../images/bkg-student.png";

$logo-medallion: "../../images/logo-medallion.png";

$sprite-academics: "../../images/sprite-academics.svg";
