.btn{
    &[type=submit],
    &[type=reset] {
        color: $white;
        @include hover-focus-active {
            background-color: project-color("purple");
        }

    }
    &[type=submit] {
        background-color: project-color("green");

    }
    &[type=reset] {
        background-color: project-color("gray");
    }
}

@each $color-name in ("blue", "green","purple") {
    .btn-#{$color-name} {
        color: $white;
        background-color: project-color($color-name);

        @include hover-focus-active {
            color: $white;
            background-color: darken(project-color($color-name), 10);
        }
    }
}

.btn-action {
    border: 2px solid $white;
    display: flex;
    flex-direction: column;
    background: none;
    color: $white;
    position: relative;
    border-radius: 0;
    border-bottom: 0;
    line-height: 1;
    outline: 0;
    align-items: center;

    @include hover-focus-active {
        color:project-color("yellow");
        border-color:project-color("yellow");

        .ribbon::before,
        .ribbon::after {
            border-color: project-color("yellow")
        }
    }

    .ribbon {
        position: absolute;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: stretch;
        align-items: center;

        &::before,
        &::after {
            content: "";
            transition: all .15s ease-in-out;
            flex: 1 1 auto;
            height: 0;
            border-bottom: 2px solid $white;
        }
    }
}