.footer-site{
    background-color: $blue;
    color: white;
    padding: 100px 0;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 5px;
        border-top: 4px solid $white;
        width: 100%;
    }

    a {
        color: $white;

        @include hover-focus-active {
            color: $light-gray;
        }
    }

    .btn {
        display: inline-block;
        margin-bottom: .5em;
        font-family: "TitilliumText22LBold";
        font-size: 24px;
        padding: 8px; 
        line-height: 1;

        &.btn-white {
            background-color: white;
            color: $blue;
            border: 0;
            padding: $input-padding-x $input-padding-y;
            border-radius: $input-border-radius;
        }
    }

    .footer-logo {
        width: 392px;
        height: 100px;
        overflow: hidden;
        text-indent: -999em;
        background: transparent url(../images/logo-footer.svg) no-repeat center;
        background-size: 392px 100px;
        flex: 0 0 392px;
    }

    .footer-tag {
        display: none;
        font-size: 4rem; // 6rem at xl?
        color: rgba(255,255,255, .1);
        text-transform: uppercase;
        margin-left: auto;
    }

    .nav-list {
        margin-bottom: 100px;
        .nav-link {
            padding: 0;
            font-size: 1.125rem;
            line-height: 1.666;
        }
    }

    address, 
    .email {
        margin-bottom: 1em;
    }
    .phone {
        margin-bottom: 45px;
    }
    .phone a {
        display: block;
    }

    .colophon {
        border-top: 1px solid $white;
        width: 100%;
        flex: 1 0 100%;
        display: flex;
        font-size: 24px;
        line-height: 1.2;
        justify-content: space-between;
    }

    .nav-footer {
        h2 {
            font-family: "TitilliumText22LBold";
            font-size: 1.5rem;
            margin-bottom: 30px;
        }

        @include media-breakpoint-up(md) {
            flex: 3;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;   
        }
    }

    .social {
        .btn {
            padding: 7px; 
        }

        .icon {
            overflow: hidden;
            display: block;
            width: 36px;
            height: 36px;
            background: transparent url(../images/sprite-social.svg) no-repeat top left;
            background-size: 72px 288px;
            text-indent: -999em;

            @include hover-focus-active {
                background-position-x: -36px;
            }
        }

        .icon-facebook {
            background-position-y: -36px;
        }

        .icon-twitter {
            background-position-y: -72px;
        }

        .icon-youtube {
            background-position-y: -144px;
        }
    }

    @include media-breakpoint-up(md) {
        .footer-lead {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin-bottom: 65px;
        }

        .footer-tag {
            display: block;
        }
    
        .footer-contact {
            flex: 1;
            padding-top: 84px;
        }
    }
}
