.icon {
    display: inline-block;
}
.icon-search {
    width: 20px;
    height: 20px;
    background: transparent url("../images/icon-nav-search.png") no-repeat center;
    background-size: contain;
}

.icon-user {
    width: 20px;
    height: 20px;
    background: transparent url("../images/icon-nav-user.png") no-repeat center;
    background-size: contain;
}