.titlebar-container{
    display:flex;
    flex-direction: row;
    background-color:$white;
    padding: 0 15px;

    h2{
        margin: auto 0 auto 10px;
    }

    @include media-breakpoint-up(md) {
        padding:0 100px;
    }
}

.title-logo{
        margin: 10px 5px 10px 0;
        background: transparent url(../images/title-logo.png) no-repeat center;
        background-size: contain;
        align-self: center;
        color:$white;
        max-height:51px;
        max-width:84px;
        height: 51px;
        width:100%;
}

