.titlebar-container{
    background-color:$white;
    padding: 0 15px;

    .page-title{
        margin: auto 0 auto 10px;
        font-size:1.5rem;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            display: inline-block;
            margin: 13px 10px 13px 0;
            padding-right: 10px;
            background: transparent $logomark-blue-gradient-outline no-repeat left center;
            background-size: 72px 50px;
            height: 51px;
            flex-basis: 82px;
            border-right: 1px dotted #c6d3d7;
        }
    }

    @include media-breakpoint-up(md) {
        margin-top: 90px;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 138px;
        padding:0 100px;

        .page-title {
            font-size: 3rem;
        }
    }
}
