$font-family-sans-serif: 'TitilliumText22LRegular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default; 
$primary: $blue;
$dark: $black;
$navbar-padding-y: 0;
$navbar-padding-x: 0;
$btn-border-radius: 0;