// Base setups
@import "typography";
@import "colors";
@import "variables";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/utilities";

//Mixins
//Functions

// Core styles
@import "global";
@import "navigation";
@import "footer";

// Components
@import "components/accordion";
@import "components/blocks";
@import "components/carousel";
@import "components/programs";
@import "components/statistics";
@import "components/story";
@import "components/content";
// Modules

// Pages
@import "pages/home";

h2{
    font-size:2rem;
}

.dot-background{
    background-image: url(../images/backgrounddots.png);
    background-repeat: no-repeat;
    background-size:70%;
    background-position: center;
}

.s-hero{
    height: 820px;
    background: linear-gradient(rgba(0,42,66,.5), rgba(0,42,66,.5)), url(../images/home_hero.png) no-repeat center;
    background-size:cover;
    position:relative;
    box-shadow: 0 4px 2px -2px gray;

    .hero-caption{
        color:$white;
        align-self: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        h2{
            margin-bottom:30px;
        }

        p{
            text-align: center;
        }

        .play-button{
            color:$yellow;
            font-weight:600;
            border:solid 2px $yellow;
            padding:1.5rem 2.5rem;
            margin:1.5rem 0 1.5rem 0;

            &:hover{
                color:$white;
                border-color:$white;
            }
        }

    }

}

@include media-breakpoint-up(md) {

}