// Base setups
@import "typography";
@import "colors";
@import "variables";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/nav";
//Mixins
//Functions

// Core styles
@import "global";
@import "footer";

// Components
@import "components/accordion";
@import "components/blocks";
@import "components/carousel";
@import "components/programs";
@import "components/statistics";
@import "components/story";
@import "components/content";
// Modules

h2{
    font-size:2rem;
}

.dot-background{
    background-image: url(../images/backgrounddots.png);
    background-repeat: no-repeat;
    background-size:70%;
    background-position: center;
}


.nav-utility-container{
    background-color: $light-gray;   
}

.nav-utility{
    margin:0 100px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:0;
    height:30px;
     
    .nav-link{
        color:$black;
        font: 'TitilliumText22LBold';
        font-size:.65rem;
        font-weight:700;
        text-transform: uppercase;
        margin:0 40px 0 0;
        
    }
    .nav-link:hover{
        color:$yellow;
    }
    .nav-utility-left, .nav-utility-right{
        display:flex;
        flex-direction:row;
        justify-content: flex-start;
        align-items: center;
        
    }
    .nav-utility-right{
        display:flex-end;
        flex-grow:1;
        flex-direction: row;
        justify-content: flex-end;

        .nav-link{
            margin:0 0 0 40px;
            color:$navy-blue;
        }
        input, input:focus{
            margin:10px 0 0 0;
            padding:0;
            background:none;
            border:none;
            border-bottom:1px solid $dark-gray;
            outline:none;
            
        }
   
    }
    .nav-utility-left{
        flex-grow:2;
        display: flex-start;
    }

}


.hero{
    background-repeat:no-repeat;
    background-size:cover;
    height: 820px;
    background: linear-gradient(rgba(0,42,66,.5), rgba(0,42,66,.5)),
    url(../images/home_hero.png);
    position:relative;
    box-shadow: 0 4px 2px -2px gray;

    .hero-caption{
        color:$white;
        align-self: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        h2{
            margin-bottom:30px;
        }

        p{
            text-align: center;
        }

        .play-button{
            color:$yellow;
            font-weight:600;
            border:solid 2px $yellow;
            padding:1.5rem 2.5rem;
            margin:1.5rem 0 1.5rem 0;

            &:hover{
                color:$white;
                border-color:$white;
            }
        }

    }

}

.primary-nav-container{
    display:flex;
    flex-direction: row;
    height:108px;
    background: linear-gradient(rgba(0,63,114,.75), rgba(0,63,114,.75));
    justify-content: space-between;
    padding:0 100px;

    .logo{
        align-self: center;
        color:$white;
    }

}

.nav-primary{
    display:flex;
    
    text-transform:uppercase;
    font-size:1.25rem;
    justify-content: space-between;
    align-items: center;

    .nav-link{
    color:$white;

    &:hover{
        color:$yellow;
    }
    }
}


.s-admissions{
    background-image: url(../images/backgrounddots.png);
    background-repeat:repeat-x;
    background-size:50%;
    background-position: top left;
    margin:0 0 40px 0; 
       
}

.admin-nav-container{
    background: linear-gradient(rgba(0,63,114,.75), rgba(0,63,114,.75));
    padding:1rem 100px;
    height:auto;
    display:block;
    position: relative;

    &:after{
        content: "";
        background: url(../images/background-admissions.png) no-repeat;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-size: 100%;

        position: absolute;
        z-index: -1; 
    }

    h2{
        color:$white;
        margin:0 0 2.5rem 0;
    }
}

.admin-nav{
    display:flex;
    list-style:none;
    justify-content: space-between;
    padding-inline-start:0px;
    

    button{
        display:flex;
        flex-direction: column;
        background:none;
        padding:1.5rem 4rem;
        color:$white;
        text-transform: uppercase;
        font-size:1.2rem;
        border: 2px solid $white; 
        margin:10px 0 50px 0;
        align-items: center;
        width:15rem;
        

        &:hover{
            color:$yellow;
            border-color:$yellow;
        }
    }

}

.admissions-panels{   
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    margin:30px 0;

    .become-a-reiver{
        background-image: url(../images/become-a-reiver.png);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        
    }
    .campus-map{
        background-image: url(../images/campus-tour.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        
    }

.admissions-card{
    align-content: center;
    width:42%;
    position:relative;
    min-height:360px;

    -moz-box-shadow:    2px 2px 6px 0px $gray;
    -webkit-box-shadow: 2px 2px 6px 0px $gray;
    box-shadow:         2px 2px 6px 0px $gray;

    button{
        padding:1rem 0;
        background: linear-gradient(rgba(0,42,66,.5), rgba(0,42,66,.5));
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border:2px solid $white;
        color:$white;
        font-family: 'TitilliumText22LBold';
        width:14rem;

        &:hover{
        color:$yellow;
        border-color:$yellow;
        }

        
    }
    .play{
        color:$yellow;
        border-color:$yellow;
        &:hover{
            color:$white;
            border-color:$white
            }
    }

}
}


.s-academics{
    background-image: url(../images/backgrounddots.png);
    background-repeat:no-repeat;
    background-size:100%;
    background-position: top left;
    margin:0 0 0 0;  
    color:$white;
}

.academics-container{
        background: linear-gradient(rgba(0,42,66,.65), rgba(0,42,66,.65));
        height:auto;
        display:block;
        position: relative;
        height:auto;
        padding:20px 100px;

 h2{
     margin-bottom:10rem;
 }       
    
    &:after {
        content: "";
        background-image:url(../images/academics-background.png);
        background-repeat: no-repeat;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-size: 100%;
        position: absolute;
        z-index: -1; 
        
    }

    .btn-list{
        display:flex;
        flex-flow: row;
        flex-wrap:wrap;
        justify-content: space-between;
        margin-bottom:0rem;

    .btn-list-item{
        width:30%;
        margin-bottom:80px;
        color:$white;
        background:none;
        box-shadow: 0 0 0 2px $white;
        font-size:1.6rem;
        height:10rem;
        padding:1.5rem 1.8rem 2.5rem 1.8rem;

        &:hover{
            color:$yellow;
            box-shadow: 0 0 0 2px $yellow;
        }
    }

    .business{
        border-bottom: 10px solid $green;
        &:after{
            background:url(../images/sprite-academics.gif);
            content: " ";
            position: absolute;
            height: 110px;
            width: 110px;
            margin: 58px 0 0 -108px;
            border-radius: 100px;
            background-size: 100%;
        }
    }
    .industrial{
        border-bottom: 10px solid $orange;
        &:after{
            background:url(../images/sprite-academics.gif);
            content: " ";
            background-position: 0px -110px;
            position: absolute;
            height: 110px;
            width: 110px;
            margin: 40px 0 0 -162px;
            border-radius: 100px;
            background-size: 100%;
        }
    }
    .communication{
        border-bottom: 10px solid $yellow;
        &:after{
            background:url(../images/sprite-academics.gif);
            content: " ";
            background-position: 0px -220px;
            position: absolute;
            height: 110px;
            width: 110px;
            margin: 40px 0 0 -102px;
            border-radius: 100px;
            background-size: 100%;
        }
    }
    .health{
        border-bottom: 10px solid $red;
        &:after{
            background:url(../images/sprite-academics.gif);
            content: " ";
            background-position: 0px -330px;
            position: absolute;
            height: 110px;
            width: 110px;
            margin: 58px 0 0 -98px;
            border-radius: 100px;
            background-size: 100%;
        }
    }
    .science{
        border-bottom: 10px solid $purple;
        &:after{
            background:url(../images/sprite-academics.gif);
            content: " ";
            background-position: 0px -440px;
            position: absolute;
            height: 110px;
            width: 110px;
            margin: 40px 0 0 -182px;
            border-radius: 100px;
            background-size: 100%;
        }
    }
    .social{
        border-bottom: 10px solid $blue;
        &:after{
            background:url(../images/sprite-academics.gif);
            content: " ";
            background-position: 0px -550px;
            position: absolute;
            height: 110px;
            width: 110px;
            margin: 40px 0 0 -100px;
            border-radius: 100px;
            background-size: 100%;
        }
    }
}

}

.s-featured {
    background:$dark-gray;

    .featured-container{
        display:flex;
        justify-content: center;
        flex-direction: row;
        height:260px;
    }

    .featured-panel{
        text-align: center;
        padding:30px 80px 30px 80px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .featured-athletics{
        background:$blue;
    }
    .featured-artscenter{
        background:$green;
    }
    .featured-river{
        background:$red;
    }

    .btn{
        border:solid $white 1px;
        padding:.5rem 2rem;
        color:$white;
        

        &:hover{
            border-color:$yellow;
            color:$yellow;
            text-decoration: none;
        }
    }
}

.s-centers{
    background-image: url(../images/backgrounddots.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    padding:2rem 0 0 0;  
    color:$blue;
}

.center-panels{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:2rem 0 2rem 0;
}

.center-panel{
    width:24%;
    position: relative;
    img{
        -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
        mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    }

    .clarinda{
        &:after{
            content:"Clarinda, IA";
        }
    }
    .cass{
        &:after{
            content:"Atlantic, IA";
        }
    }
    .shelby{
        &:after{
            content:"Harlan, IA";
        }
    }
    .fremont{
        &:after{
            content:"Shenendoah, IA";
        }
    }

    .btn{
        text-align: center;
        width:100%;
        background-color:$white;
        border: 3px solid $blue;
        color:$blue;
        height:60px;
        font-size: 1.4rem;
        padding: 2rem 0 5.5rem 0;
        position:absolute;
        font-family:'TitilliumText22LBold';
        z-index:100;
        top:-15px;

        &:after{
            color:$blue;
            border:2px solid $blue;
            padding:2px;
            width:150px;
            font-size:1rem;
            font-family:'TitilliumText22LBold';
            position:absolute;
            bottom:-15px;
            left:53px;
            text-align: center;
            background-color:$white;

        }
    }
}


@include media-breakpoint-up(md) {

}